<div class="frame">

    <div>
        <div class="logo"><a (click)="about()">Farrah Pepino</a></div>
        <span class="headline">Product Designer & Engineer</span>
    </div>

    <br><br>

    <div>
        <span>NYC-based UX Engineer</span> & <span>Full-Stack Developer</span> focused on bridging <span>design</span> and <span>engineering</span> to build intuitive, accessible user experiences. 
    </div>

    <br><br><br>

    <button (click)="home()">
        Browse my work
    </button>
</div>