<app-sidebar class="desktop"></app-sidebar>
<app-sidebar-mobile class="mobile" (sidebarToggled)="onSidebarToggle($event)"></app-sidebar-mobile>

<div class="frame" [class.hidden]="isSidebarOpen">
    <div class="profile">
        <div class="about">
            <div>
                My passion for art and design sparked my interest in technology. As an artist, I love creating and immersing myself in my own world, which naturally led me to build brands that I <span class="gray">and others</span> would love. I believe that, deep down, all humans think and feel in similar ways, even if we try to deny it. By designing and building for people, centering humans in the process, the outcomes are always positive.
            </div>
            
            <div>
                When building from scratch, I research trends, explore human psychology, organize my findings, software architecture and design, and then bring my ideas to life.
            </div>
        </div>
    </div>

    <div class="e">
       <div class="experience">
            <div class="underline">RESEARCH & ENGINEERING EXPERIENCE</div>
            <br>
                <div *ngFor="let item of research">
                    <div>{{item.role }} at {{item.company}}</div>
                    <div class="gray">{{item.date}}</div>
                    <br>
                </div>
            
            <br><br><br>
            <div class="underline">TECHNICAL INSTRUCTION & TEACHING EXPERIENCE</div>
            <br>
                <div *ngFor="let item of teaching">
                    <div>{{item.role }} at {{item.company}}</div>
                    <div class="gray">{{item.date}}</div>
                    <br>
            </div>
            <br><br><br>
       </div>

       <div class="education">
            <div class="underline">EDUCATION</div>
            <br>
                <div *ngFor="let item of education">
                    <div>{{item.degree}}</div>
                    <div>{{item.university}} <span *ngIf="item.university === 'Georgia Institute of Technology'" class="gray">(On going)</span></div>
                    <br>
            </div>
            <br><br><br>
            <div class="underline">TOOLS</div>
            <br>
                <div *ngFor="let item of tools">
                    <div>{{item.category}}:</div>
                    <div class="gray">{{item.tools}}</div>
                    <br>
            </div>
            <br><br><br>
   </div>

    </div>
</div>