body {
    font-size: 1em;
    font-family: "Teachers", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    background-color: #F5F5F5;
    color: #949494;
    margin: 0 auto;
}

button{
    background-color: transparent;
    outline: none;
    border: none;
    text-decoration: underline;
    font-size: 1em;
    font-family: "Teachers", sans-serif;
    padding: 0px;
}

span{
    color: black;
}

.logo {
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;
}

.underline{
    text-decoration: underline;
}

a{
    color: black;
}


@media (max-width:1200px){
    body {
        font-size: 0.8em;
        background-color: white;
        color: gray;
    }

    .logo {
        font-family: "Teachers", sans-serif;
    }
}
